@model ProyectoIntegrador.Models.DBModels.TipoUsuarioAfiliado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>TipoUsuarioAfiliado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/TipoUsuarioAfiliados" value="Volver" class="btn btn-secondary">Volver</a>
        </div>
    </div>

</div>
