html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer p {
    margin: 0px 0px;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

    .dropdown-menu::-webkit-scrollbar {
        width: 10px;
        border-radius: 0px 5px 5px 0px;
    }

    /* Track */
    .dropdown-menu::-webkit-scrollbar-track {
        border-radius: 0px 5px 5px 0px;
        background-color: white;
    }

    /* Handle */
    .dropdown-menu::-webkit-scrollbar-thumb {
        background: #007bff;
        border-radius: 5px;
    }

    /* Handle on hover */
    .dropdown-menu::-webkit-scrollbar-thumb:hover {
        background: #62adfd;
    }

.titlePage {
    text-align: center;
    background: cadetblue;
    color: white;
}

.cardField {

}

.cardField h6 {
    transform: translateY(-30px);
    margin-bottom: 0px;
    position: absolute;
    background-color: white;
    padding: 0px 4px;
}